body{
    background-color: black;
    color: white;
    height: 150vh;
}
.box{
    height: 150px;
    width: 150px;
    background-color: yellow;
    margin-top: 10rem;
    position: sticky;
    top: 50px;
    margin-top: 10rem;
}