@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.instagram_clone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side_bar {
    height: 100vh;
    width: 20%;
    border-right: 1px solid gray;
    padding: 10px;
    /* background-color: brown; */
}

/* .side_bar .items h3{
    font-family: "Great Vibes", cursive;
} */

.side_bar .items {
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.5rem;


}

.side_bar .items .material-symbols-outlined {
    margin-right: 10px;
}

.post_section {
    height: 100vh;
    width: 55%;
    /* background-color: tomato; */
}

.post_section .insta_story{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.post_section .insta_story .items{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: .8rem;
    text-align: center;
    gap: 5px;
    outline-offset: 5px;
}

.post_section .insta_story .items img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 2.5px solid red;
}
.post_section .insta_post{
    display: flex;
    justify-content: center;

}
.post_section .insta_post .post img {
    height: 550px;
    width: 400px;
    margin-top: 7px;
}
.post_section .head_post{
    display: flex;
    align-items: center;
    margin-left: 220px;

}
.post_section .head_post .items img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border:  2px solid red;
}
.post_section .head_post .items span{
    margin-left: 240px;
}
.right_bar {
    height: 100vh;
    width: 23%;
    /* background-color: chocolate; */
    margin-top: 100px;
}
.photo img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
   
}
.photo{
    display: flex;
    justify-content: space-between;
}
.main{
    display: flex;
    /* background-color: aqua; */
    margin-top: 20px;
    
}
.p_item{
    margin-left: 10px;
    margin-top: 5px;
}
.follow{
    margin-left: 70px;
    margin-top: 5px;
}

.suggest{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
}
.seeall{
    margin-left: 140px;
}
.follow{
    display: flex;
    align-items: center;
    /* margin-right: 110px; */
    
}

.suggestion .main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right_bar .main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}