body{
    background-color: black;
    color: white;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* width: 150px; */
    background-color: rgb(23, 193, 51);
    border: 3px solid blue;
    border-radius: 5%;
   
}
.box1{
    height: 200px;
    width: 150px;
    background-color: blueviolet;
    top: 1rem;   
    border: 3px solid blue;
    border-radius: 5%;
    margin: 10px;
}
