body{
    background-color: black;
    color: white;
}
.box{
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    position: relative;
    top: 17rem;
    left: 20rem;
}
.box2 {
    height: 150px;
    width: 150px;
    background-color: brown;
    position: absolute;
    top: 7rem;
    left: 10rem;
}























































































