body{
    background-color: black;
    color: white;
}
h1{
    background-color: blue;
    height: 300px;
    display: inline;
}
span{
    background-color: blueviolet;
    height: 200px;
    width: 400px;
    display: inline-block;
}