*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0,0%,94%);
    display: grid;
    place-items: center;
}
.hero-section{
    margin-top: 100px;
    width: 60%;
}
p{
    column-count: 3;
    column-rule: 1px solid brown;
    column-gap: 50px;
    text-align: justify;
}

